
/* Colors
#CF7023
#A56837
#FA7100
#7A593D
#504135
#332E2B */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #A56837;
}
nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #504135;
}
nav a {
    position: relative;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    top: 50%;
}
nav a:hover {
    background-color: #FA7100;
}
main {
    position: relative;
    top: 100px;
    color: #332E2B;
}
article {
    position: relative;
    background-color: #CF7023;
    border: 3px dashed #332E2B;;
    margin-bottom: 20px;
    padding: 10px;
}
img {
    position: absolute;
    height: 200px;
    padding: 6px;
    background-color: #FA7100;
    border: 8px double #7A593D;

}